extends layout

block content
  a(href='./') Home
  h1=title
  form(method='post' action='')
    div.form-group
      p
        label(for='nickname') Enter nickname: 
        input#nickname.form-control(type='text' placeholder='nickname' name='nickname' required='true' value='')
      p
        label(for='password') Enter password: 
        input#password.form-control(type='password' placeholder='password' name='password' required='true' value='')
    button.btn.btn-primary(type='submit')=title
  if errors
    ul
      for error in errors
        li!= error.msg